.detailContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
  padding: 20px;
}

.courseImage {
  width: 390px;
  height: 280px;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 20px;
}

.title {
  font-family: "Noto Sans KR";
  font-size: 26px;
  font-weight: 700;
  margin-bottom: 15px;
}

.tags {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.tagText {
  font-family: "Noto Sans KR";
  font-size: 18px;
  margin: 5px 0;
}
