.detailContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.courseImage {
  width: 390px;
  height: 280px;
  object-fit: cover;
  margin-bottom: 10px;
}

.title {
  width: 390px;
  color: #000;
  text-align: center;
  font-family: "Noto Sans KR";
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 60px;
  margin-bottom: 10px;
}

.detailText {
  width: 340px;
  color: #000;
  text-align: center;
  font-family: "Noto Sans KR";
  font-size: 15px;
  font-style: normal;
  font-weight: 300;
  line-height: 30px;
  margin-bottom: 20px;
}

.tags {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.tagText {
  font-family: "Noto Sans KR";
  font-size: 18px;
  margin: 5px 0;
}
