.post {
  margin-bottom: 40px;
}

.postBox {
  padding: 20px 0 15px 15px;
  border: 1px solid #000;
  box-sizing: border-box;
}

.postTitle {
  font-family: "Noto Sans KR";
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: 36px;
}

.postHashTagList {
  display: flex;
  width: auto;
  white-space: nowrap;
  overflow-x: auto;
  gap: 10px;
  margin: 10px 0;
}

.postHashTagList::-webkit-scrollbar {
  display: none;
}

.postUserWrap {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 15px;
}

.userInfo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.userProfileImg {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  /*border: 1px solid #000;*/
}

.username {
  color: var(--seoul-seek-black);
  font-family: "Noto Sans KR";
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
}

.postAction {
  position: absolute;
  display: flex;
  right: 0px;
  bottom: 0;
  gap: 30px;
}

.postAction button {
  display: flex;
  justify-content: center;
  padding: 0;
  background: none;
  border: none;
  cursor: pointer;
  gap: 10px;
  box-sizing: border-box;
}

.likes,
.comments {
  font-family: "Noto Sans KR";
  font-size: 15px;
  line-height: 20px;
  color: #000;
}
