.post {
  margin-bottom: 40px;
}

.postBox {
  padding: 15px 0 15px 15px;
  border: 1px solid #000;
  box-sizing: border-box;
}

.postTitle {
  font-family: "Noto Sans KR";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 36px;
}

.postHashTagList {
  display: flex;
  width: auto;
  white-space: nowrap;
  overflow-x: auto;
  gap: 10px;
  margin: 10px 0;
}

.postHashTagList::-webkit-scrollbar {
  display: none;
}

.postUserWrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 15px;
}

.postAction {
  position: absolute;
  display: flex;
  right: 0px;
  bottom: 0;
  gap: 30px;
}

.postAction button {
  display: flex;
  justify-content: center;
  padding: 0;
  background: none;
  border: none;
  cursor: pointer;
  gap: 10px;
  box-sizing: border-box;
}

.likes,
.comments {
  font-family: "Noto Sans KR";
  font-size: 15px;
  line-height: 20px;
  color: var(--seoul-seek-indigo);
}

a {
  text-decoration: none;
  color: var(--seoul-seek-black);
}
