.btnContainer {
  display: flex;
  width: 150px;
  height: 50px;
  padding: 1px 4px 2px 6px;
  align-items: center;
  justify-content: center;
  gap: 10px;
  flex-shrink: 0;
  border-radius: 100px;
  border: 1px solid #000;
  background: #000;    
  cursor: pointer;
}

.activeContainer {
  background: #FFF;       
}

.btnName {
  color: #000;
  color: rgba(255, 255, 255, 0.2);
  text-align: center;
  font-family: "Noto Sans KR";
  font-size: 32px;
  font-weight: 700;
}

.activeName {
  color: #000;
}

.btnIcon {
  width: 40px;
  height: 40px;
  flex-shrink: 0;
  color: #FFF;
}

.activeIcon {
  color: #000;
}
