.miniPostBox {
  width: 350px;
  height: 70px;
  padding: 20px;
  border: 1px solid #e0e0e0;
  border-radius: 12px;
  box-sizing: border-box;

  /* Flexbox로 내부 컨텐츠 배치 */
  display: flex;
  align-items: center;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}
.miniPostBox:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.08);
}
.miniProfile {
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  border-right: 1px solid #e0e0e0;
  padding-right: 10px;
}

.profileImage {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  object-fit: cover;
  border: 1px solid #eee;
}

.username {
  font-family: "Noto Sans KR";
  font-size: 0.9rem;
  font-weight: 500;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.postTitle {
  padding-left: 10px;
  font-family: "Noto Sans KR";
  font-size: 0.9rem;
  font-weight: 500;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; /* 제목이 길면 ...으로 표시 */
}
