.post {
  margin-bottom: 20px;
}

.miniPostBox {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 15px 0 15px 15px;
  border: 1px solid #000;
  box-sizing: border-box;
}

.postTitle {
  font-family: "Noto Sans KR";
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: var(--seoul-seek-black);
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
  line-height: 1.4; /* 기본 라인 높이 조정 */
  max-height: calc(1.4em * 2); /* 2줄 높이 제한 */
  word-break: break-all; /* 단어 단위로 줄바꿈 */
  white-space: normal;
  flex: 1; /* flex 아이템 공간 차지 */
}
