.pagination {
  display: flex;
  justify-content: center;
  gap: 50px;
  margin-top: 50px;
}
.pagination button {
  border: none;
  background-color: transparent;
  min-width: auto;
  height: auto;
  padding: 0;
  border-radius: 0;
  cursor: pointer;
  font-size: 20px;
  color: #000000;
  font-weight: 300;
}
.pagination button:hover {
  background-color: transparent;
}
.pagination .activePage {
  font-weight: 700;
  background-color: transparent;
  color: #000000;
  border-color: transparent;
}
