.showbox {
  z-index: 2000;
}

.loader {
  position: relative;
  margin: 0 auto;
  width: 100px;
  height: 100px;
  bottom: 5%;
}

.circular {
  animation: rotate 2s linear infinite;
  height: 100%;
  transform-origin: center center;
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.path {
  stroke-dasharray: 1, 200;
  stroke-dashoffset: 0;
  animation: dash 1.5s ease-in-out infinite /*, color 6s ease-in-out infinite*/;
  stroke-linecap: round;
  stroke: var(--seoul-seek-skyblue);
}

/* 이모지 스타일 */
.emoji {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  align-items: center;
  width: 40px; /* 이모지 크기 조정 */
  height: 40px; /* 이모지 크기 조정 */
}

/* 텍스트 스타일 */
.text {
  position: absolute;
  align-items: center;
  bottom: -35%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 16px;
  font-weight: 700;
  color: var(--seoul-seek-skyblue);
  text-align: center;
  white-space: nowrap;
  /*animation: color 6s ease-in-out infinite;*/
}

.dot {
  padding: 1px;
  animation: dotsAnimation 1s infinite;
}

.dot:nth-child(1) {
  animation-delay: 0s;
}
.dot:nth-child(2) {
  animation-delay: 250ms;
}
.dot:nth-child(3) {
  animation-delay: 500s;
}

@keyframes dotsAnimation {
  50% {
    color: transparent;
  }
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35px;
  }
  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -124px;
  }
}

@keyframes color {
  100%,
  0% {
    stroke: #d62d20;
    color: #d62d20;
  }
  40% {
    stroke: #0057e7;
    color: #0057e7;
  }
  66% {
    stroke: #008744;
    color: #008744;
  }
  80%,
  90% {
    stroke: #ffa700;
    color: #ffa700;
  }
}

.showbox {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}
