.placesPage {
  padding: 0 20px;
  box-sizing: border-box;
}

.titleWrap {
  padding-top: 45px;
}

.pageTitle {
  color: var(--seoul-seek-fadegold);
  font-family: "Noto Sans KR";
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 48px;
}

.searchWrap {
  margin-top: 45px;
}

.filterContainer {
  display: flex;
  text-align: center;
  justify-content: space-between;
  font-family: "Noto Sans KR";
  font-size: 11px;
  font-weight: 700;
  margin-top: 15px;
  padding: 0 11px;
  box-sizing: border-box;
}

.checkboxLabel {
  display: flex;
  align-items: start;
  gap: 15px;
}

.mapWrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 45px 0;
}

.map {
  display: block;
  margin-bottom: 10px;
  border: 1px solid #000;
  border-radius: 50px;
  box-sizing: border-box;
  width: 350px;
  height: 350px;
  background-image: url("../../assets/PlacePage/seoulMap.jpg");
  background-size: cover;
  background-position: center;
}

.message {
  display: flex;
  justify-content: center;
  color: var(--seoul-seek-blue);
  text-align: center;
  font-family: "Noto Sans KR";
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: 18px;
}

.postList li:last-child {
  margin-bottom: 25px;
}

.postCreateBtnWrap {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 25px;
}

.postCreateBtn {
  display: flex;
  align-items: center;
  font-family: "Noto Sans KR";
  font-size: 32px;
  font-weight: 700;
  padding: 0 20px;
  gap: 4px;
  color: var(--seoul-seek-black);
  background: none;
  border: 1px solid #000;
  border-radius: 100px;
  cursor: pointer;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  margin-bottom: 45px;
}

.pagination button {
  color: var(--seoul-seek-black);
  text-align: center;
  font-family: "Noto Sans KR";
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  background: none;
  border: none;
  cursor: pointer;
}

/* 검색페이지 */
.tabWrap {
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-bottom: 1px solid #d3d9df;
  padding: 8px 0;
  margin: 15px 0 45px;
}

.tab {
  font-family: "Noto Sans KR";
  font-size: 20px;
  font-weight: 700;
  padding: 0 10px;
  color: var(--seoul-seek-gray);
  box-sizing: border-box;
  background: none;
  border: none;
  cursor: pointer;
}
.activeTab {
  color: var(--seoul-seek-blue);
}

.noResults {
  text-align: center;
  color: var(--seoul-seek-blue);
  font-family: "Noto Sans KR";
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
}

/* 게시물 작성 페이지 */
.subTitle {
  color: var(--seoul-seek-black);
  font-family: "Noto Sans KR";
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  padding-top: 20px;
  box-sizing: border-box;
}

.contentWrap h3 {
  font-family: "Noto Sans KR";
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  padding: 20px 27.5px;
  box-sizing: border-box;
}

.dropZone {
  position: relative;
  display: flex;
  height: 280px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-family: "Noto Sans KR";
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  background-image: url("./../../assets/PlacePage/checker.png");
  background-position: center;
}
.dropZone p {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
  height: 30px;
  border: 1px solid #000;
  border-radius: 100px;
  background: #fff;
}
.selectedImageOverlay {
  display: flex;
  justify-content: center;
  align-items: center;
}
.selectedImage {
  max-width: 100%;
  height: 280px;
  object-fit: cover;
}

.previewContainer {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  margin-top: 5px;
  padding: 0 10px;
  box-sizing: border-box;
}

.imageWrap {
  position: relative;
  display: inline-block;
}

.deleteBtn {
  position: absolute;
  top: 0;
  right: -5px;
  border: none;
  background: none;
  transition: transform 0.2s;
}

.deleteBtn:hover {
  transform: scale(1.1);
}

.imagePreview {
  width: 80px;
  height: 80px;
  object-fit: cover;
}

.placeSelector {
  margin-bottom: 20px;
}

.placeSelector,
.keywordAdd {
  display: flex;
  white-space: nowrap;
  overflow-y: hidden;
  justify-content: center;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  padding: 10px 25px;
  box-sizing: border-box;
  gap: 20px;
}

.placeSelector::-webkit-scrollbar,
.keywordAdd::-webkit-scrollbar {
  display: none;
}

.hashtag.selected {
  border: 1px solid #000;
  border-radius: 100px;
}

.tagWrap button {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Noto Sans KR";
  font-size: 14px;
  font-weight: 700;
  width: 140px;
  height: 30px;
  gap: 5px;
  flex-shrink: 0;
  border: 1px solid #000;
  border-radius: 100px;
  cursor: pointer;
}

.placeSelectorBtn {
  color: #fff;
  background-color: var(--seoul-seek-blue);
}

.keywordInput {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: "Noto Sans KR";
  font-size: 14px;
  width: 138px;
  height: 28px;
  gap: 5px;
  flex-shrink: 0;
  padding: 0;
  border: 1px solid #000;
  border-radius: 100px;
  cursor: pointer;
  color: #000;
  background-color: var(--seoul-seek-gray);
}

.keywordInput::placeholder {
  color: #000;
  font-weight: 700;
  text-align: center;
}

.keywordInput:focus,
.inputStyle:focus,
.textAreaStyle:focus {
  outline: none;
}

.keywordInput:focus::placeholder,
.inputStyle:focus::placeholder,
.textAreaStyle:focus::placeholder {
  color: transparent;
}

.inputForm {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 0 45px;
  box-sizing: border-box;
}

.inputStyle,
.textAreaStyle {
  width: 100%;
  padding: 0 15px;
  box-sizing: border-box;
  border: 1px solid #000;
  font-family: "Noto Sans KR";
  font-size: 14px;
  font-style: normal;
  line-height: 48px;
}

.textAreaStyle {
  height: 300px;
  line-height: 30px;
  resize: none;
}

.submitBtn {
  width: 100%;
  margin: 25px 0 45px;
  padding: 13px 20px;
  border: none;
  border-radius: 100px;
  box-sizing: border-box;
  background: var(--seoul-seek-black);
  color: #fff;
  font-family: "Noto Sans KR";
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.placeModal {
  display: flex;
  flex-direction: column;
  white-space: nowrap;
  overflow-y: auto;
  background: #fff;
  width: 330px;
  height: 640px;
}

.searchBarWrap {
  margin: 30px 15px;
}

.resultInfo {
  text-align: center;
  color: var(--seoul-seek-blue);
  font-family: "Noto Sans KR";
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  margin: 15px 0 45px;
}

.placeList {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.placeItem {
  display: flex;
  width: auto;
  white-space: nowrap;
  overflow-x: auto;
  padding: 10px 0 10px 20px;
  gap: 20px;
  box-sizing: border-box;
  border-top: 1px solid var(--seoul-seek-gray);
  border-bottom: 1px solid var(--seoul-seek-gray);
}

.placeItem p {
  color: var(--seoul-seek-black);
  font-family: "Noto Sans KR";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
}

.placeItem::-webkit-scrollbar {
  display: none;
}
